  body{
   font-family: rubik;
   background-image: url();
  }
  nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px;
            margin: 50px;
        }
        
        
        .logo {
            padding: 15px;
            cursor: pointer;
        }
        .left-nav{
            display: flex;
        }
        .right.nav{
            display: flex;
            margin: 10px;
         
        }
        ul {
            display: flex;
            gap: 20px;
        }
        li {
            list-style: none;
            gap: 20px;
            cursor: pointer;
        }
         .login-bnt {
            background-color:white;
            margin: 1px;
            padding: 1px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            font-family: rubik, Arial, Helvetica, sans-serif;
         }
         .login-bnt:hover {
            color: #00a2ff;
            
         }
         .demo-bnt {
            background-color: transparent;
            border: 3px solid #FC5B1A;
            border-radius: 10PX;
            padding: 10px 10px;
            font-weight: bold;
            background-color:#FC5B1A;
            background: transparent;
            cursor: pointer;
           
         }
         .demo-bnt:hover {
            color: white;
            background-color: #FC5B1A;
            
            
         }
         .signup-bnt {
           background-color: #00a2ff;
           border: 3px solid #00a2ff;
           border-radius: 10px;
           color: aliceblue;
           font-weight: bold;
           padding: 10px 10px;
           cursor: pointer;

         }
         .signup-bnt:hover {
            background-color: white;
            color: #00a2ff;
            
         }
         .pics {
            margin: 50px;
            padding: 10px;
            align-items: center;
         }
         .text-nav {
            margin: 10px;
         }
         .email{
            font-size: small;
            color: grey;
         }
         .growth{
            font-size: 60px;
         }
         .img-btn{
            display: grid;
            align-items: center;
         }
         
  
        
         